/* Стили для контейнера слайдера */
.slick-slider {
    position: relative;
}

/* Позиционирование кнопки "Назад" */
.slick-prev {
    position: absolute;
    left: 1380px; /* Расстояние от левого края контейнера слайдера */
    top: -22%; /* Центрирование относительно высоты */
    z-index: 1;
    transform: scale(3);
}

/* Позиционирование кнопки "Вперёд" */
.slick-next {
    position: absolute;
    right: 40px; /* Расстояние от правого края контейнера слайдера */
    top: -22%; /* Центрирование относительно высоты */
    z-index: 1;
    transform: scale(3);
}

@media (max-width: 1536px) {
    .slick-prev {
        left: 1130px; /* Меньшее расстояние для планшетов */
        top: -20%; /* Поднять кнопку чуть выше */
        transform: scale(3); /* Уменьшить размер кнопок */
    }

    .slick-next {
        right: 30px; /* Небольшое смещение для планшетов */
        top: -20%; /* Поднять кнопку чуть выше */
        transform: scale(3); /* Уменьшить размер кнопок */
    }
}

@media (max-width: 1280px) {
    .slick-prev {
        left: 900px; /* Меньшее расстояние для планшетов */
        top: -16%; /* Поднять кнопку чуть выше */
        transform: scale(2); /* Уменьшить размер кнопок */
    }

    .slick-next {
        right: 30px; /* Небольшое смещение для планшетов */
        top: -16%; /* Поднять кнопку чуть выше */
        transform: scale(2); /* Уменьшить размер кнопок */
    }
}

@media (max-width: 1024px) {
    .slick-prev, .slick-next {
        display: none !important; /* Скрываем кнопки на мобильных устройствах */
    }
}
